/Code/qgai/server/__pycache__
/Code/qgai/datamining/__pycache__
/Code/qgai/.idea
/Code/front/node_modules
/Code/qgai/testpng
/Code/qgai/inquiry/QuestionAndAnswer(On-Premises&Revised)/__pycache__

/Code/qgai/inquiry/QuestionAndAnswer(On-Premises&Revised)/__pycache__
.DS_Store
Code/qgai/face/face_trainer_bayes/.DS_Store
/.idea
/.idea
